<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF=8">
    <title>Stock Market Predictor Service</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>

<script type="text/javascript">
  window.MemberfulOptions = {site: "https://olaff1313.memberful.com"};

  (function() {
    var s   = document.createElement('script');

    s.type  = 'text/javascript';
    s.async = true;
    s.src   = 'https://d35xxde4fgg0cx.cloudfront.net/assets/embedded.js';

    setup = function() { window.MemberfulEmbedded.setup(); }

    s.addEventListener("load", setup, false);

    ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
  })();
</script>

<body style = "background-color: black; padding-top: 10px; ">
      <div class="container">
        <div class="navbar-header">
          <table cellpadding ="5" style="width:700px; background-color:white;">
            <tr>
              <td>
                   <img src="static/images/forecast-chart.png" alt="Hi!" height="79" width="215">
              </td>
              <td>
                  <H2><p style="text-align:center">STOCK MARKET PREDICTOR</p></H2>
              </td>
               <td>
                 <img src="static/images/forecast-chart.png" alt="Welcome!" height="79" width="215">

              </td>
            </tr>
        </div>
      </div>


     <div class="container">

      <table border=0 cellpadding="10" style="width: 700px; background-color:lightgrey;">
        <tr>
          <td colspan='2'>
             <H3>Welcome, this is a restricted site, please log in or sign-up, you won't regret it!!</H3>
          </td>
        </tr>
        <tr>
            <td align="right">
                <a href="https://olaff1313.memberful.com/auth/sign_in" class="btn btn-success block">Log in</a>
            </td>
            <td align="left">
                <a href="https://olaff1313.memberful.com/checkout?plan=43415" class="btn btn-primary block">Sign up</a>
            </td>
        </tr>
      </table>
    </div>
</body>
</html>